<div class="well">
    <highchart id="weight_chart" config="chartConfig"></highchart>
    <button ng-click="showAddWeight=!showAddWeight" ng-init="showAddWeight=False" class="btn btn-primary">Add Weight</a>
</div>
<div class="well" ng-controller="AddAnimalWeightController as vm" ng-show="showAddWeight">
    <h1>Add an Animal Weight</h1>
	<form ng-submit="vm.onSubmit()" name="vm.form">
		<formly-form model="vm.animal_weight" fields="vm.animalWeightFields" form="vm.addAnimalWeightForm">
			<button type="submit" class="btn btn-primary" ng-disabled="vm.addAnimalWeightForm.$invalid">Submit</button>
		</formly-form>
	</form>
</div>
