<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
{% from "_formhelper.html" import form_field %}
<div class="well">
	<form class="form-horizontal" method="post" action="" name="add_animal_group">
		{{ form.hidden_tag() }}
		{{ form_field(form, form.name) }}
		{{ form_field(form, form.start, group_id="datetimepicker1", append='<span class="glyphicon glyphicon-calendar"></span>') }}
		{{ form_field(form, form.end, group_id="datetimepicker2", append='<span class="glyphicon glyphicon-calendar"></span>') }}
		{{ form_field(form, form.message) }}
        {{ form_field(form, form.repeat_period) }}
		{{ form_field(form, form.repeat_number) }}
        {{ form_field(form, form.animal) }}
		<input class = "btn btn-primary" type=submit value="Add Alert">
	</form>
</div>
{% endblock %}