<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
{% from "_formhelper.html" import render_field %}
<div class="well">
	<form class="form-horizontal" method="post" action="" name="add_weight">
		{{ form.hidden_tag() }}
		{{ render_field(form.weight) }}
		{{ render_field(form.date) }}
		<p>
		<div class="control-group">
			<div class="controls">
				<input class = "btn btn-primary" type=submit value="Add Weight">
			</div>
		</div>
	</form>
</div>
{% endblock %}