<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
{% from "_formhelper.html" import form_field %}
<div class="well">
	<form class="form-horizontal" method="post" action="" name="add_animal" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		{{ form_field(form, form.name) }}
		{{ form_field(form, form.species) }}
		{{ form_field(form, form.species_common) }}
		{{ form_field(form, form.dob) }}
        {{ form_field(form, form.weight_units) }}
		{{ form_field(form, form.avatar) }}
		<input class = "btn btn-primary" type=submit value="Add Animal">
	</form>
</div>
{% endblock %}