<!-- extend base layout -->
{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src={{ url_for('bower.static',
			filename="eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js") }}></script>
    <script type="text/javascript">
		$(function () {
        	$('#datetimepicker1').datetimepicker();
        });
	</script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href={{ url_for('bower.static',
    		filename="eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css") }}/>
{% endblock %}

{% block content %}
{% include 'flash.html' %}
{% from "_formhelper.html" import form_field %}
<div class="well">
	<form class="form-horizontal" method="post" action="" name="add_animal" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		{{ form_field(form, form.name) }}
		{{ form_field(form, form.species) }}
		{{ form_field(form, form.species_common) }}
		{{ form_field(form, form.dob, group_id="datetimepicker1", append='<span class="glyphicon glyphicon-calendar"></span>') }}
        {{ form_field(form, form.weight_units) }}
		{{ form_field(form, form.avatar) }}
		<input class = "btn btn-primary" type=submit value="Add Animal">
	</form>
</div>
{% endblock %}