<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<div class="well">
    <div class="pull-right">
        <p><img src="{{ animal.get_avatar() }}" width="125" height="125" class="Rounded Image" alt="{{ animal.name }}"></p>
        {% if animal.species %}
           <h4>{{ animal.species }} ({{ animal.species_common }})</h4>
        {% else %}
            <h3>{{ animal.species_common }}</h3>
        {% endif %}
    </div>
    <h1>{{animal.name}}</h1>
    <p>Owner: <a href="{{url_for('user', id=animal.owner.id)}}"> <img src="{{ animal.owner.get_avatar() }}" class="Rounded Image" alt="{{ animal.owner.name }}" height="50" width="50"></a></p>
    {% if animal.dob %}<p><em>Age: {{ animal.age }}</em></p>{% endif %}
    {% if g.user.id == animal.owner.id %}
        <a href="{{url_for('edit_animal', id=animal.id)}}" class="btn btn-primary" role="button">Edit profile</a>
        <a href="{{url_for('qrcode', id=animal.id) }}" class="btn btn-primary" role="button">QR Code</a>
        <a href="{{url_for('weights', id=animal.id) }}" class="btn btn-primary" role="button">Weight</a>
        <a href="{{url_for('add_animal_note', animal_id=animal.id) }}" class="btn btn-primary" role="button">Add Note</a>
    {% endif %}
    </p>
</div>

{% include 'animal_notes.html' %}

{% endblock %}