{% extends "bootstrap/base.html" %}
{% block html_attribs %}
    ng-app="AngularAnimalTracker"
{% endblock %}

{% block title %}
    {% if title %} {{ title }} {% else %} Animal Tracker {% endif %}
{% endblock %}

{% block metas %}
{{ super() }}
    <meta charset="'utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={{ url_for('bower.static', filename="jquery/dist/jquery.min.js") }}></script>
  	<script type="text/javascript" src={{ url_for('bower.static', filename="moment/min/moment.min.js") }}></script>
  	<script type="text/javascript" src={{ url_for('bower.static',
            							filename="bootstrap/dist/js/bootstrap.min.js") }}></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script type="text/javascript" src={{ url_for('bower.static',
                                        filename="angular-google-gapi/dist/angular-google-gapi.min.js") }}</script></script>
    <script type="text/javascript" src={{ url_for('static', filename="js/app.js") }}></script>
    <script type="text/javascript" src={{ url_for('static', filename="js/services.js") }}></script>
    <script type="text/javascript" src={{ url_for('static', filename="js/controllers.js") }}></script>
{% endblock %}


{% block navbar %}
<nav role="navigation" class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			<span class="sr_only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="{{ url_for('index') }}" class="navbar-brand">Home</a>
	</div>
</nav>
{% endblock %}

{% block body %}
<div class="container">
	{{ super() }}
</div>
{% raw %}
<div ng-view></div>
{% endraw %}
{% endblock %}
