{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %} {{ title }} {% else %} Animal Tracker {% endif %}
{% endblock %}

{% block metas %}
{{ super() }}
	<script src="/static/js/moment.js"></script>
{% endblock %}

{% block navbar %}
<nav role="navigation" class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			<span class="sr_only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="{{ url_for('index') }}" class="navbar-brand">Home</a>
	</div>
	<div id="navbarCollapse" class="collapse navbar-collapse">
		{% if g.user.is_authenticated() %}
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('user', id=g.user.id) }}">Your Profile</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		{% else %}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ url_for('login') }}">Login</a></li>
			</ul>
		{% endif %}
	</div>
</nav>
{% endblock %}

{% block body %}
<div class="container">
	{{ super() }}
</div>
{% endblock %}
