<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Edit Alert</h1>
{% include 'flash.html' %}
{% from "_formhelper.html" import render_field %}
<div class="well">
	<form class="form-horizontal" method="post" action="" name="add_alert">
		{{ form.hidden_tag() }}
		{{ render_field(form.name) }}
		{{ render_field(form.start) }}
		{{ render_field(form.end) }}
		{{ render_field(form.message) }}
        {{ render_field(form.repeat_period) }}
		{{ render_field(form.repeat_number) }}
        {{ render_field(form.animal) }}
		<p>
		<div class="control-group">
			<div class="controls">
				<input class = "btn btn-primary" type=submit value="Save Changes">
			</div>
		</div>
	</form>
</div>
{% endblock %}