<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Edit Your Animal</h1>
{% include 'flash.html' %}
{% from "_formhelper.html" import form_field %}
<div class="well">
	<img src="{{ animal.get_avatar() }}" class="Rounded Image" alt="{{ animal.name }}" width="125" height="125">
    <form class="form-horizontal" action="" method="post" name="edit_animal" enctype="multipart/form-data">
    	{{ form.hidden_tag() }}
		{{ form_field(form, form.avatar) }}
		{{ form_field(form, form.name) }}
		{{ form_field(form, form.species) }}
		{{ form_field(form, form.species_common) }}
        {{ form_field(form, form.weight_units) }}
		{{ form_field(form, form.dob) }}
		<input class="btn btn-primary" type="submit" value="Save Changes">
    </form>
</div>
{% endblock %}
